body,box,box2,h1,h2,input{
 		margin: 0px;
 		padding: 0px;
 }
 a{
 	text-decoration: none;
 }
 img{
 	overflow: hidden;
 	display: block;
 }
 input {
	outline:none;
}
ul,li{
	padding: 0;
	margin: 0;
	list-style: none;
}
 /*顶部 */
.db{
 	width: 100%;
 	height: auto;
 	background-color: #F7F7F7;
 	border-bottom: 1px solid #ccc;
 	margin-bottom: 1px;
 }
.db .topp{
 	width: 1200px;
 	height: 32px;
    margin: 0 auto;
 }
.db .topp .tpo1{
 	width: auto;
 	height: 32px;
    float: right;
    display: block;
    margin-top: 2px;
 }
 .db .topp .tpo1 div:nth-child(1){
 	width: 20px;
 	height: 20px;
 	float: right;
 }
 .db .topp .tpo1 .tporight1  img{
 	display: block;
  	width: 20px;
  	height: 20px;
  	margin-top: 5px;
  }
 .db .topp .tpo1 div:nth-child(2){
 	width: 20px;
 	height: 20px;
 	float: right;
 	margin-right: 5px;
 	display: block;
 }
 .db .topp .tpo1 .tporight2 img{
  	width: 20px;
  	height: 20px;
  	margin-top: 5px;
  }
 .db .topp .tpo2{
 	width: 100px;
 	height: 32px;
    float: right;
    margin-right: 15px;
    display: block;
 }
.db .topp .tpo2 img{
  	width: 16px;
  	height: 16px;
  	margin:8px 8px 8px 0px;
  	float: left;
  }
.db .topp .tpo2 span{
  	color: #808080;
  	font-size: 13px;
  	line-height: 32px;
  }

.db .topp .tpo3{
	width: auto;
	height: 32px;
	float: right;
	margin-right: 18px;
	line-height: 32px;
	color: #808080;
	font-size: 12px;
}
.db .topp .tpo3 span:first-child{
    float: left;
    margin-right: 10px;

}
.db  .topp .tpo3 span:last-child{
    margin-right: 8px;
}

 .db .topp .tpo3 a{
	margin-right: 8px;
	color: #808080;
}
.db  .topp .tpo3 a:hover{
	color: red;
}
 /* 搜索 */
 .ss{
 	width: 1200px;
 	height: auto;
 	margin: 0 auto;
 	overflow: hidden;
 	margin-bottom: 35px;
 }
 .ss .sk{
 	width: auto;
 	height: 62px;
 	float: right;
 	margin-top: 10px;
 }
 .ss .shang{
	width: auto;
	height: 30px;
	margin-top: 1px;
}
 .ss .shang .ssk{
	width: auto;
	height: auto;
	float: left;
	margin-right: 24px;
}
 .ss .shang .ssk input{
 	display: block;
 	float: left;
 }
 .ss .shang .ssk input:first-child{
 	width: 260px;
 	height: 27px;
 	border: 0;
 	border: 1px solid #ccc;
 }
.ss .shang .ssk input:last-child{
 	width: 47px;
 	height: 29px;
 	text-align: center;
 	margin-left: 0px;
 	border:0;
 	background-color: #B81B22;
 	float: right;
 	color: white;
 	font-size: 16px;
 	line-height: 25px;
 	cursor: pointer;
 }
 /* 购物车 */
 .ss .gwc{
 	width:106px;
 	height:30px;
 	background-color: #B81B22;
 	float: right;
 }
 .ss .gwc img{
 	width: 20px;
 	height: 20px;
 	float: left;
 	margin:5px; 
 }
.ss .gwc span{
	color: #fff;
	font-size: 16px;
	line-height: 30px;

 }
 /* 热门搜索 */
.ss .xia{
	width: auto;
	height: 30px;
}
.ss .xia span{
	color: #ccc;
	font-size: 13px;
	float: left;
	line-height: 30px;
	margin-left: 5px;
}
.ss .xia a{
	color: #ccc;
	font-size: 11px;
}
/* nav */
.nav{
	width: 1200px;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 35px;
}
.nav .logo {
	width: 190px;
	width: 45px;
	float: left;
	background-color: black;
	margin-right: 45px;
}
.nav .logo img{
	display: block;
	width: 190px;
	height: 45px;
}
.nav .navzi{
	width: auto;
	height: 45px;
	background-color: #fff;
	float: right;
	margin: 0 auto;
	color: #ccc;
}
.nav .navzi .xuanxiangka{
	color: #727171;
	padding: 0 10px;
	font-size: 15px;
	text-align: center;
	line-height: 45px;
	margin-left:12px; 
	float: left;
	position: relative;
}
.nav .navzi .xuanxiangka .sb{
	padding: 0;
	width: 0;
}
.nav .navzi .xuanxiangka a{
	color: #000;
}
.nav .navzi .xuanxiangka a:hover{
	color: #B81C22;
	border-bottom: 3px solid #B81C22;
}
.nav .navzi span{
	margin-left: 28px;
	font-size: 13px;
}
.nav .navzi .navs{
	color: black;
	font-size: 18px;
	float: left;
	line-height: 45px;
}
.nav .navzi .xialakuang{
	width: auto;
	background-color: #fff;
	position: absolute;
	top: 42px;
	left: -12px;
	z-index: 9468546599;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	display: none;
}
.nav .navzi .xialakuang-active{
	display: block;
}
.nav .navzi .xuanxiangka:nth-child(5) .xialakuang{
	position: absolute;
	top: 42px;
	left: -5px;
}
.nav .navzi .xuanxiangka:nth-child(8) .xialakuang{
	position: absolute;
	top: 42px;
	left: -22px;
}
.nav .navzi .xuanxiangka:nth-child(9) .xialakuang{
	position: absolute;
	top: 42px;
	left: 4px;
}
.nav .navzi .xialakuang span{
	margin-left: 0;
}
.nav .navzi .kaka{
	display: none;
}
/* banner */
.banner{
	width:1200px;
	height: 536px;
	margin: 0  auto;
	overflow: hidden;
	position: relative;
	top: 0px;
	left: 0px;  

}
.banner .ban1{
	width: 1200px;
	height: 536px;
	position: absolute;
	top: 0;
	left: 0;
}
.banner .banleft{
	width: 20px;
	height:54px;
	margin-top:250px;
	margin-left: 12px;
	background-image: url('../img/bannerleft.png');
	float: left;
	background-repeat: no-repeat; 
	background-position: 0 0;
	position: absolute;
	top: 0px;
	left: 0px;
}
.banner .banright{
	width: 20px;
	height:54px;
	margin-top:250px;
	margin-right: 12px;
	background-image: url('../img/bannerleft.png');
	background-position: -60px 0;
	float: right;
	background-repeat: no-repeat; 
	position: absolute;
	top: 0px;
	right: 0px;
}
.banner .yuan{
	width: 56px;
	height: 12px;
	margin: 0 auto;
	position: absolute;
	top: 500px;
	left: 572px;
	margin-top: 500px;
	margin: 0 auto; 
}
.banner .yuan .yuan1{
	width: 12px;
	height: 12px;
	float: left;
	background-color:white; 
	border-radius: 50%;
	margin-left: 5px; 
}
.banner .yuan .yuan1:hover{
background-color:#B81B22;	
}

/* 充100返100*/
.cf{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 42px;
}
.cf .cff{
	width: 600px;
	height: 40px;
	float: left;

}
/* 每日秒杀图片*/
.mrmstp{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
	background-image: url('../img/ms_bg0814.png');
	margin-bottom: 32px;
	overflow: hidden;
	text-align: center;
	display: block;
}
.mrmstp .msright{
	width: auto;
	height: auto;
	color: #FEFFF6;
	font-size: 16px;
	text-align: center;
	float: right;
	line-height: 60px;
	padding-right: 16px;
}
.mrmstp em{
	font-style: normal;
	color: #a10000;
    margin-left: 32px;
}
 /* 每日秒杀*/
 .mrms{
 	width: 1200px;
 	height: auto;
 	background-color: #fff;
 	margin: 0 auto;
 	overflow: hidden;
 }
 .mrms .mrmsa{
 	width: 233px;
 	height: 460px;
 	margin-right:8px ;
 	float: left;
 }
 .mrms .mrmsa3{
 	margin-right:9px ;
 }
.mrms .mrmsa2{
 	margin-right:10px ;
 }
 .mrms .mrmsa1{
 	margin-right:0px ;
 }

 /* 秒杀 */
 .ms{
 	width: 1200px;
 	height: 89px;
 	margin: 0 auto;
 }

 /* 新品推荐 */
 .top{
	width: 1200px;
	height: auto;
	background-color:#FFFFFF;
	margin: 0 auto;
 }
 .top h1{
 	    width: 100%;
 	    height: 110px;
 		color: #9A9A9A;
	    font-size:18px;
	    font-weight: normal;
	    text-align: center;
	    line-height: 110px;
 }
.top .con{
	width:1162px;
	height: auto;
	background-color:#FFFFFF;
	margin: 0 auto;
	padding: 0 19px;
	overflow: hidden;

 }
.top .con .btn{
	width: 272px;
	height: 414px;
	float: left;
	overflow: hidden;
	text-align: center;
	margin: 0 25px 20px 0;

}
.top .con .btn:nth-child(4n+2){
	margin-right: 24px;
}
.top .con .btn:nth-child(4n){
	margin-right: 0px; 
}
.top .con .btn1{
	margin-bottom: 0px;
}
/* 当季热卖 */
.box2{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
}
.box2 h3{
 	    width: 100%;
 	    height: 110px;
 		color: #9A9A9A;
	    font-size:18px;
	    font-weight: normal;
	    text-align: center;
	    line-height: 110px;
 }
 .box2 .con2{
	width:1162px;
	height: auto;
	background-color:#fff;
	margin: 0 auto;
	padding: 0 19px;
	overflow: hidden;
 }
.box2 .con2 .btnss{
	width: 272px;
	height: 414px;
	float: left;
	overflow: hidden;
	text-align: center;
	margin: 0 25px 20px 0;

}
.box2 .con2 .btnss2{
	margin-right: 24px;
}
.box2 .con2 .btnss3{
	margin-right: 0px;
}
.box2 .con2 .btnss1{
	margin-bottom: 0px;
}
/* 更多精品 */
.top2{
	width: 1200px;
	height: auto;
	background-color:#fff;
	margin: 0 auto;
}
.top2 h2{
	   width: 100%;
	   color: #9A9A9A;
	   font-size: 18px;
	   font-weight: normal;
	   text-align: center;
	   line-height: 110px;
}
.top2 .btns{
	width: 1200px
	height: auto;
	background-color: #fff;
	overflow: hidden;
}
.top2 .btns .btn{
	float: left;
}
.top2 .btns img{
   	display: block;
}
.top2 .btns .lefts{
	width: 590px;
	height: 509px;
	margin-right: 17px;
	margin-bottom:16px;
}
.top2 .btns .lefts .left{
	width: 590px;
	height: 440px;
}
.top2 .btns .left .zi{
	     width: 560px;
	     height: 69px;
	     background-color: #fff;
	     padding: 0 10px;
         font-size: 12px; 
         line-height: 69px; 
         border-left:1px solid #e8e7ec;
         border-right:1px solid #e8e7ec;
         border-bottom:1px solid #e8e7ec;
}
.top2 .btns .left .zi .zuo{
    color: #333333;
    float: left;
}
.top2 .btns .left .zi .you{
	color: #A10000;
	float: right;
}

.top .btns .center{
	width: 290px;
	height: 509px;
	float: left;
	margin-right: 17px;
	margin-bottom:16px;
	float: left;
}
.top2 .btns .center .center2s{
	width: 290px;
	height: 249px;
    margin-bottom: 16px;

}
.top2 .btns .center .center2s .center2 .zi2{
	width: 268px;
	height: 69px;
	background-color: #fff;
	padding: 0 10px;
    font-size: 12px; 
    line-height: 69px; 
    border-left:1px solid #e8e7ec;
    border-right:1px solid #e8e7ec;
    border-bottom:1px solid #e8e7ec;
}

.top2 .btns .center .center2s .center2 .zi2 .zuo2{
    color: #333333;
    float: left;

}
.top2 .btns .center .center2s .center2 .zi2 .you2{
	color: #A10000;
	float: right;
}
.top2 .btns .center .center3s{
	width: 290px;
	height:244px;
}
.top2 .btns .center .center3s .center4 .zi4{
	width: 268px;
	height: 69px;
	background-color: #fff;
	padding: 0 10px;
    font-size: 12px; 
    line-height: 69px; 
    margin-bottom: 8px;
    border-left:1px solid #e8e7ec;
    border-right:1px solid #e8e7ec;
    border-bottom:1px solid #e8e7ec;
}
.top2 .btns .center .center3s .center4 .zi4 .zuo4{
    color: #333333;
    float: left;

}
.top2 .btns .center .center3s .center4 .zi4 .you4{
	color: #A10000;
	float: right;
}
.top2 .btns .rights{
    width: 286px;
	height:509px ;
	float: right;
	margin-bottom: 16px;
}
.top2 .btns .rights .right{
	width: 286px;
	height: 440px;
}
.top2 .btns .right .zi3{
	     width: 264px;
	     height: 69px;
	     background-color: #fff;
	     padding: 0 10px;
         font-size: 12px; 
         line-height: 70px;
         border-left:1px solid #e8e7ec;
         border-right:1px solid #e8e7ec;
         border-bottom:1px solid #e8e7ec; 
}
.top2 .btns .right .zi3 .zuo3{
    color: #333333;
    float: left;
}
.top2 .btns .right .zi3 .you3{
	color: #A10000;
	float: right;
}
/* 底部 */
.bottom{
	width: 1200px;
	height: 284px;
	margin: 0 auto;
	border: 1px solid #E0E0E1;
}
.bottom .ditu{
	width: 1118px;
	height: 138px;
	margin: 0 auto;
	margin: 34px 48px 26px 48px;

}
.bottom .ditu .tu1{
	width: 33.33%;
	height: 110px;
    float: left;
}
.bottom .ditu .tu1 img{
	width: 42px;
	height: 42px;
	margin: 16px 164px 30px;
}
.bottom .ditu .tu1 .tu1k{
	width: 156px;
	height: 32px;
	background-color: #B81C22;
	margin: 0px 107px 20px;
	color: #fff;
	text-align: center;
	line-height: 32px;
}
.bottom .ditu .tu2{
	width: 33.33%;
	height: auto;
    float: left;
    text-align: center;
    border-left: 1px solid #E0E0E1;
	border-right: 1px solid #E0E0E1;
	box-sizing:border-box;
}
.bottom .ditu .tu2 img{
	width: 38px;
	height: 38px;
	margin: 20px 166px 20px;
}
.bottom .ditu .tu2 span{
	color: #887171;
	font-size: 14px;
	line-height: 12px;
	margin: 0px 107px 12px;
}
.bottom .ditu .tu3{
	width: 33.33%;
	height: auto;
    float: left;
    text-align: center;
}
.bottom .ditu .tu3 img{
	width: 104px;
	height: 104px;
	margin: 3px 133px 8px;
}
.bottom .ditu .tu3 span{
	color: #887171;
	font-size: 14px;
	line-height: 12px;
	margin: 0px 107px 12px;
	line-height: 26px;
	margin: 0px 107px 2px;
}
.bottom .ditu .tu3 span em{
	text-decoration: none;
	color:#a10000;
	font-style: normal;
    font-weight: normal;
}
.bottom .dizi{
	width: 1118px;
	height: 57px;
	margin: 0 auto;
	margin: 0px 42px 32px 42px;
	background-color: #F8F8F8;
	float: left;

}
.bottom .dizi a{
	color: #323232;
	font-size: 12px;
	line-height: 57px;
	padding: 0 60px;
}
.bottom .dizi span{
	color:#E0E0E1;
	font-size: 18px;
}
/* 底底部*/
.zuitop{
	width:100%;
	height:auto;
	border-top: 1px solid #3E3A39;
	margin-top: 27px;
}
.zuitop .dibu{
	width: 1200px;
	height:186px;
	margin: 0 auto;
}
.zuitop .dibu .dibuzi{
	width: 836px;
	height:90px;
	float: left;
	margin: 0 auto;
	text-align: center;
	margin-left: 182px;
	margin-bottom: 16px;
	font-size: 12px;
	color: #3e3a39;
	line-height: 34px;
}
.zuitop .dibu .dibutp{
	width: auto;
	height: 48px;
	float: right;
	margin-right: 230px;
	margin-bottom: 36px;
}
.zuitop .dibu .dibutp .fanke1{
	width: 113px;
	height: 42px;
	text-align: center;
	margin: 0 auto;
	margin-top: 3px;
	background-image:url('../img/spritesbgtop.png') ;
	background-repeat: no-repeat; 
	background-position: 0 -581px;
	float: left;
}
.zuitop .dibu .dibutp .fanke2{
	width: 156px;
	height: 45px;
	margin: 0 auto;
	margin-top: 1.5px;
	background-image:url('../img/spritesbgtop.png') ;
	background-repeat: no-repeat; 
	background-position: 0 -628px;
	float: left;
}
.zuitop .dibu .dibutp .fanke3{
	width: 96px;
	height: 42px;
	margin: 0 auto;
	margin-top: 3px;
	background-image:url('../img/spritesbgtop.png') ;
	background-repeat: no-repeat; 
	background-position: 0 -675px;
	float: left;
}
.zuitop .dibu .dibutp .fanke4{
	width: 101px;
	height: 45px;
	margin: 0 auto;
	margin-top: 1.5px;
	background-image:url('../img/spritesbgtop.png') ;
	background-repeat: no-repeat; 
	background-position: -97px -675px;
	float: left;
}
.zuitop .dibu .dibutp .fanke5{
	width: 44px;
	height: 44px;
	margin-top: 2px;
	background-image:url('../img/spritesbgtop.png') ;
	background-repeat: no-repeat; 
	background-position: -202px -675px;
	float: left;
}
.zuitop .dibu .dibutp .fanke6{
	width: 131px;
	height: 48px;
	float: right;
}
.zuitop .dibu .dibutp .fanke6 img{
	width: 131px;
	height: 48px;
}